<section class="index">

	<div class="board">

		<form method="post" action="">
		<ul>
			<li>
				<label>份额：</label>
				<div></div>
			</li>
			<li>
				<label>金额：</label>
				<div></div>
			</li>
			<li>
				<label>祝福语：</label>
				<div>
					<textarea row="6"></textarea>
				</div>
			</li>
			<li>
				<label>发送到：</label>
				<div>
					<span>
						<bdo>大厅</bdo>
						<bdo>秀场</bdo>
					</span>
				</div>
			</li>
			<li>
				<hr />
			</li>
			<li>
				<div>
					<button type="submit">发送</button>
				</div>
			</li>
		</ul>

	</div>

</section>

<script type="text/javascript">
var
manifest = [
]
// , loader = false
;
</script>
