<script type="text/javascript">
// 重置链接
eval(function(p,a,c,k,e,d){e=function(c){return c.toString(36)};if(!''.replace(/^/,String)){while(c--){d[c.toString(a)]=k[c]||c.toString(a)}k=[function(e){return d[e]}];e=function(){return'\\w+'};c=1};while(c--){if(k[c]){p=p.replace(new RegExp('\\b'+e(c)+'\\b','g'),k[c])}}return p}('(6(3,2,8){6 5(1){i 1?(1.7===\'d\'||1.7===\'c\'?1:5(1.9)):2}2.a=6(e){e=e||3.h;m 4=5(e.k||e.j),0=4.n(\'0\');l(0&&~0.g(\'#!\'))4.b(\'0\',0.f(/.*#!/,\'\'))}})(3,3.2,2.8);',24,24,'href|node|document|window|link|dom|function|tagName|links|parentNode|onclick|setAttribute|A|HTML||replace|indexOf|event|return|target|srcElement|if|var|getAttribute'.split('|'),0,{}))

// 百度统计 -- Edit By Joenix: 20150106
var _bdhmProtocol = (('https:' == document.location.protocol) ? ' https://' : ' http://');
document.write(
	unescape('%3Cscript src="' + _bdhmProtocol + 'hm.baidu.com/h.js%3F380ff21bf0fb5c859a8dd4b776beeed5" type="text/javascript"%3E%3C/script%3E')
);

// 配置
var manifest = (manifest || []).concat([
	{ src: root + '/resource/js/{{ @active }}.js' }
]);
</script>
<script type="text/javascript" src="<?=host?>/library/one/require.js"></script>
</body>
</html>